/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
.block-title {
  font-size: 18px !important;
  color: #000000 !important;
}

#add-more {
  float: left;
}

#print i {
  padding-right: 5px;
}

.list .item-title {
  white-space: unset;
}

.not-applicable {
  span {
    color: gray;
    margin-left: -5px;
  }
  .item-title {
    text-decoration: line-through;
    color: gray;
  }
}

input[type="checkbox"] {
  transform: scale(1.4);
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 16mm;
}
