/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }

  #add-more,
  #print {
    display: none;
  }
}

.block-title {
  font-size: 18px !important;
  color: #000000 !important;
}

#add-more {
  float: left;
}

#print i {
  padding-right: 5px;
}
